{% extends "base.html.twig" %}

{% block title %}Ajouter un domaine d'activité{% endblock %}

{% block body %}
    <h1>Ajouter un domaine d'activité</h1>

{{ form_start(form) }}

<div class="form-group form-inline row">
<br>
    {{ form_label(form.nomdomaine , "Nom du domaine d'activité (*)", {'label_attr': {'class': "col-4"}}) }}
    {{ form_widget(form.nomdomaine, {'attr': {'class': "form-control col-5"}}) }}
    {{ form_errors(form.nomdomaine) }}
</div>


    <div class="btn-group" role="group" aria-label="...">
        <button type="submit" class="btn btn-primary" >Envoyer</button>
    </div>

    {{ form_end(form) }}
{% endblock %}