<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajout d'une offre</title>
</head>
<body>
{{ form_start(form) }}
<div class="form-group form-inline row">
    {{ form_label(form.titreproposition, "Nom de la proposition (*)", {'label_attr': {'class': "col-4"}}) }}
    {{ form_widget(form.titreproposition, {'attr': {'class': "form-control col-8"}}) }}
    {{ form_errors(form.titreproposition) }}
</div>


<div class="form-group form-inline row">
    {{ form_label(form.descriptionproposition, "Description de la proposition (*)", {'label_attr': {'class': "col-4"}}) }}
    {{ form_widget(form.descriptionproposition, {'attr': {'class': "form-control col-8"}}) }}
    {{ form_errors(form.descriptionproposition) }}
</div>

<div class="form-group form-inline row">
    {{ form_label(form.codeentreprise, "Code de l'entreprise", {'label_attr': {'class': "col-4"}}) }}
    {{ form_widget(form.codeentreprise, {'attr': {'class': "form-control col-8"}}) }}
    {{ form_errors(form.codeentreprise) }}
</div>

<div class="form-group form-inline row">
    {{ form_label(form.codeclasse, "Code des classes concernée", {'label_attr': {'class': "col-4"}}) }}
    {{ form_widget(form.codeclasse, {'attr': {'class': "form-control col-8"}}) }}
    {{ form_errors(form.codeclasse) }}
</div>

<div class="form-group form-inline row">
    {{ form_label(form.codetechnololgie, "Code des classes concernée", {'label_attr': {'class': "col-4"}}) }}
    {{ form_widget(form.codetechnololgie, {'attr': {'class': "form-control col-8"}}) }}
    {{ form_errors(form.codetechnololgie) }}
</div>


<button type="submit" class="btn btn-primary">Envoyer</button>
{{ form_end(form) }}
</body>
</html>
