{% extends "base.html.twig" %}

{% block title %}Propositions en attente{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-12">

                <h1 class="my-4">Lister les Propositions</h1>
                <table id="propositionsTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Entreprise</th>
                            <th>Description</th>
                            <th>Commentaire</th>
                            <th>Postée le</th>
                            <th>Statut</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for uneProposition in propositions  %}
                            <tr>
                                <td>{{ uneProposition.titreproposition }}</td>
                                <td></td>
                                <td>{{ uneProposition.descriptionproposition }}</td>
                                <td>{{ uneProposition.commentaire }}</td>
                                <td></td>
                                <td>{{ uneProposition.codeEtat.nomEtat }}</td>
                                <td>
                                    {% if uneProposition.codeEtat.codeEtat != 3 %}
                                        {% if uneProposition.codeEtat.codeEtat != 2 %}
                                            <a href="{{ path('validProposition', {'id': uneProposition.codeproposition}) }}" class="btn btn-success">Valider</a><br/>
                                        {% endif %}
                                        {% if uneProposition.codeEtat.codeEtat != 5 %}
                                            <a href="{{ path('rejectProposition', {'id': uneProposition.codeproposition}) }}" class="btn btn-danger">Refuser</a><br/>
                                        {% endif %}
                                        {% if uneProposition.codeEtat.codeEtat != 4 %}
                                            <a href="{{ path('archiveProposition', {'id': uneProposition.codeproposition}) }}" class="btn btn-secondary">Archiver</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('#propositionsTable').DataTable({
                "language": {
                    "url": "{{ asset('js/datatables-french.json') }}"
                }
            });
        });
    </script>
{% endblock %}